footer.darker
  .container
    .row
      .col-md-3
        .widget
          .widget-title About us
          .widget-content
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              | enim ad minim veniam, quis nostrud exercitation ullamco laboris
              | nisi ut aliquip ex ea commodo consequat.
      .col-md-3
        .widget
          .widget-title Menu
          .widget-content
            p
              a(href='/') Home
            p
              a(href='/users/ranking') Ranking
            p
              a(href='/tournaments') Tournaments
            p
              a(href='/matches') Matches
            p
              a(href='#') Guide
      .col-md-3
        .widget
          .widget-title Learn more
          .widget-content
            p
              a(href='/faq') FAQ
            p
              a(href='/changelog') Changelog
            p
              a(href='/features') Features
      .col-md-3
        .widget
          .widget-title Contact us
          .widget-content
            p
              i.fa.fa-facebook-official.fa-lg
              | &nbsp;Facebook
            p
              i.fa.fa-google.fa-lg
              | &nbsp;Gmail
            p
              i.fa.fa-github.fa-lg
              | &nbsp;Github
            span
        .widget
          .widget-title Language
          .widget-content
              a(href='/language?lang=en')
                img(src='http://www.flaginstitute.org/wp/wp-content/uploads/2012/10/UK-Union-Flag.png', height='20', width='30')
              &nbsp;
              a(href='/language?lang=vi')
                img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/2000px-Flag_of_Vietnam.svg.png', height='20', width='30')
footer.dark
  .container
    .initialism.text-center Copyright © 2016 Team Starcraft. All rights reserved.
