footer.darker
  .container
    .row
      .col-md-3
        .widget
          .widget-title Karma
          .widget-content
            p Home
            p Ranking
            p Tournament
            p Guide
      .col-md-3
        .widget
          .widget-title Help
          .widget-content
            p Help Center
            p Get Started
      .col-md-3
        .widget
          .widget-title Latest news
          .widget-content
            p Abcdef
            p Abcdef
        .widget
          .widget-title Latest news
          .widget-content
            p Abcdef
            p Abcdef
      .col-md-3
        .widget
          .widget-title Contact us
          .widget-content
            p Facebook
            p Gmail
footer.dark
  .container
    .initialism.text-center Copyright © 2016 Team Starcraft. All rights reserved.

