
# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Secret
config/env/env.json

# CSS
public/stylesheets/style.css
*.min.css

# JavaScript
public/javascripts/ng-admin.js
*.min.js

# Fonts
public/fonts/*

# Images
public/images/*

# Temp
tmp/*

#Settings
config/settings.json
