extends ../layout.normal

include ../mixins/article.jade

block scripts
  script(src='https://cdn.tinymce.com/4/tinymce.min.js')
  script.
    tinymce.init({
      selector: '#content',
      plugins: 'image imagetools media fullscreen',
      toolbar: 'undo redo | bold italic underline strikethrough | alignleft aligncenter alignright | bullist numlist outdent indent | link image media | fullscreen',
      setup: function(editor) {
        editor.on('init', function(e) {
          //Remove new line character
          editor.setContent(`!{article.content ? article.content.replace(/(\r|\n)/g, "") : ""}`);
        });
      }
    });

block content-inside
  +article-form(article, article.getShowPath())
