extends ../layout.normal

include ../mixins/article.jade

block scripts
  script(src='https://cdn.tinymce.com/4/tinymce.min.js')
  script.
    tinymce.init({
      selector: '.article-title',
      inline: true,
      toolbar: 'undo redo',
      menubar: false
    });
    tinymce_init('div.editable', true);

block content-inside
  +article(article)

block sidebar
  button#save-button.btn.btn-block.button-submit
    i.fa.fa-floppy-o.fa-fw
    | &nbsp; Save

  script.
    $('#save-button').click(function() {
      $('#save-button').html('<i class="fa fa-circle-o-notch fa-spin"></i>')
      $.post('./', {
        title: $('#article-title').text(),
        content: $('#article-content').html(),
      },
      function(data, status) {
        setTimeout(function() {
          $('#save-button').html('<i class="fa fa-floppy-o fa-fw"></i> &nbsp;Save')
        }, 1000);
      });
    })
