extends ../layout.normal

include ../mixins/article.jade

block content-inside
  - for article in articles
    +article-preview(article)

block sidebar
  a.btn.btn-block.button-submit(href='/articles/new') New Articles
