extends ../layout.normal

block scripts
  script(src='/javascripts/mainpage.js')
  link(rel='stylesheet', href='/stylesheets/mainpage.css')

include ../mixins/article.jade

block pre-content
  div(style="background-image:url(http://lowko.tv/wp-content/uploads/StarCraft-2-Heart-of-the-Swarm-Zerg-Wallpaper-Background.jpg); height:500px; width:100%; background-repeat: no-repeat; background-size:cover; background-attachment:fixed;")

block content-inside
  each article in articles
    +article-preview(article)

  nav
    ul.pager
      if prevPage != -1
        li.previous
          a(href='?page=' + prevPage) &larr; &nbsp; Newer
      else
        li.previous.disabled
          a(href='?#') &larr; &nbsp; Newer

      if nextPage != -1
        li.next
          a(href='?page=' + nextPage) Older &nbsp; &rarr;
      else
        li.next.disabled
          a(href='#') Older &nbsp; &rarr;

block sidebar
  a.btn.btn-block.button-submit(href='/articles/new')
    i.fa.fa-plus.fa-fw
    | &nbsp; New Article
