extends ../layout

block scripts
  script(src='https://cdn.tinymce.com/4/tinymce.min.js')
  script.
    tinymce.init({
      selector: '#content'
    });
  include ../mixins/article.jade
  
block content
  .article.article-new.container
    form(action='/articles', method='post')
      fieldset.article-info
        lable
          .name Title
          input(type='text', name='title')
        lable
          .name Thumbnail
          input#files(type='file', name='thumbnail')
        lable
          .name Content
          textarea#content(name='content')
      fieldset.submit
        input.btn.button-submit(type='submit', value='Create')
        .clearfix
