extends ../layout.normal

include ../mixins/article.jade

block scripts
  script(src='https://cdn.tinymce.com/4/tinymce.min.js')
  script(src='/javascripts/tinymce.js')
  script.  
    tinymce_init('#content', false);
    
block content-inside
  +article-form(article, '/articles')
