extends ../layout.normal

include ../mixins/article.jade

block scripts
  script(src='https://cdn.tinymce.com/4/tinymce.min.js')
  script.
    tinymce.init({
      selector: '#content'
    });

block content-inside
  +article-form(article, '/articles')
