extends ../layout.normal

include ../mixins/article.jade

block scripts
  script(src='https://cdn.tinymce.com/4/tinymce.min.js')
  script.
    $(document).ready(function(){
      tinymce.init({
        selector: '#content',
        plugins: 'image imagetools media fullscreen textcolor link',
        toolbar: 'undo edo | bold italic underline strikethrough | forecolor backcolor | alignleft aligncenter alignright | bullist numlist outdent indent | link image media | fullscreen'
      });
    });

block content-inside
  +article-form(article, '/articles')
