extends ../layout.normal

include ../mixins/article.jade

block scripts
  script(src='/javascripts/fblike.js')

block content-inside
  +article(article)

block sidebar
  if isLoggedIn && currentUser.isAuthorOf(article)
    a.btn.btn-block.button-submit(href=article.getEditPath())
      i.fa.fa-edit.fa-fw
      | &nbsp; Edit Article
