doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='style.css')
  body
    p Welcome to sc2vn
    p
      | Please click &nbsp;
      a(href=user.confirm_link) here
      | &nbsp;to activate your account
    p Sincerely,
    p sc2vn team
