body {
  margin: 0px;
}

nav.navbar {
  transition: all 0.4s ease;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 70px;
  height: 70px;
  padding-top: 0;

  transition: height .4s ease, line-height .4s ease, border-bottom-color 1s ease-in;
}

.navbar-default .navbar-nav > li > a {
  color: #444;
  /*border-bottom: 2px solid transparent;*/
}

.navbar-default .navbar-brand {
  color: #444;
  font-weight: 600;
}

nav.navbar {
  background-color: transparent;
  border: 0px;
}

nav.shrink.navbar {
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #eee;
}

nav.shrink li a {
  line-height: 51px;
  height: 50px;
  color: #777 !important;
  transition: height .4s ease, line-height .4s ease, border-bottom-color 1s ease-in;
  margin-bottom: -2px;
}

nav.shrink .navbar-brand {
  line-height: 50px;
  height: 50px;
  color: #777 !important;

  transition: all .4s ease;
}
