body {
  margin: 0px;
}

nav.navbar {
  transition: all 0.4s ease;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 70px;
  height: 70px;
  padding-top: 0;

  transition: height 1s ease, line-height 1s ease, border-bottom-color .4s ease-in;
}

.navbar-default .navbar-text {
  margin-top: 26px;
  transition: all 1s;
}

.navbar-default .navbar-btn {
  margin-top: 22px;
  transition: all 1s;
}

.navbar-default .navbar-brand {
  font-weight: 600;
}

nav.shrink.navbar {
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #eee;
}

nav.shrink li a {
  line-height: 51px;
  height: 50px;
  color: #777 !important;
  transition: height 1s ease, line-height 1s ease, border-bottom-color .4s ease-in;
  margin-bottom: -2px;
}

nav.shrink .navbar-brand {
  line-height: 50px;
  height: 50px;
  color: #777 !important;

  transition: all 1s ease;
}

nav.shrink .navbar-text > a {
  color: #777 !important;
}

nav.shrink .navbar-text {
  margin-top: 17px;
  transition: all 1s;
}

nav.shrink .navbar-btn {
  margin-top: 12px;
  transition: all 1s;
}
