extends ../layout.normal

block content-inside
  h1= user.name
  form(action=user.getShowPath(), method='post')
    .form-group
      label(for='name') Username
      input.form-control(type='text', name='name', placeholder='Username', value=user.name)
    .form-group
      label(for='race') Race
      select.form-control(name='race', value=user.race)
        option zerg
        option protoss
        option terran
        option random
    .form-group
      label(for='introduction') Introduction
      textarea.form-control(rows=4, name='introduction', placeholder='Write introduction here...')
    button.btn.button-submit(type='submit') Submit

