extends ../layout

block content
  .container
    .login
      h1.title Login
      p.tips.pull-right
        |Haven't got an account yet? 
        a(href='') Register now!
      .clearfix
      form(method='post', action='/auth/local')
        .form-group
          label Email
          input.form-control(type='email', name='email', placeholder='email@example')
        .form-group
          label Password
          input.form-control(type='password', name='password')
        button.btn.button-submit.pull-right(type='submit') Login
        a.btn.button-submit.pull-left(href='/auth/bnet') Log in with Battle.net
        .clearfix
