extends ../layout

block scripts
  script.
    $(document).ready(function() {
      var local = 'local';
      var bnet = 'bnet';
      
      $('#' + bnet).hide();
      
      $('#selectRegister input').on('change', function() {
        var select = $('input[name=register]:checked', '#selectRegister').val();
        if (select == local) {
          unSelect = bnet
        } else unSelect = local;
        $('#' + unSelect).hide(0, function() {
          $('#' + select).show(400);
        });
      });
      
    });

block content
  .container
    .register
      h1.title Register
      p.tips.pull-right
        |Already have an account? 
        a(href='/users/login') Login now!
      .clearfix
      form#selectRegister
        .form-group
          .radio
            input#bnetRadio(type='radio', name='register', value='local', checked)
            label(for='bnetRadio') Using email/password
          .radio
            input#localRadio(type='radio', name='register', value='bnet')
            label(for='localRadio') Using Battle account
      a#bnet.btn.button-submit.center-block(href='/auth/bnet') Register with Battle.net account
      form#local(method='post', action='/auth/local')
        .form-group
          label Email
          input.form-control(type='email', name='email', placeholder='Email@example.com')
        .form-group
          label Password
          input.form-control(type='password', name='password', placeholder='Password')
        button.btn.button-submit.pull-right(type='submit') Register