extends ../layout.normal

include ../mixins/tournament

block scripts
  script(src='https://cdn.tinymce.com/4/tinymce.min.js')
  script.
    tinymce.init({
      selector: '.tournament-title',
      inline: true,
      toolbar: 'undo redo',
      menubar: false
    });

    tinymce.init({
      selector: 'div.tab-pane.editable',
      inline: true,
      plugins: 'image imagetools media fullscreen',
      toolbar: 'undo redo | bold italic underline strikethrough | alignleft aligncenter alignright | bullist numlist outdent indent | link image media | fullscreen',
      menubar: true
    });

block content-header
  img.tournament-banner(src=tournament.banner)

block content-inside
  +tournament(tournament)

block sidebar
  button#save-button.btn.btn-block.button-submit
    i.fa.fa-floppy-o.fa-fw
    | &nbsp; Save

  script.
    $('#save-button').click(function() {
      $('#save-button').html('<i class="fa fa-circle-o-notch fa-spin"></i>')
      $.post('./', {
        name: $('#tournament-title').text(),
        introduction: $('#introduction').html(),
        rule: $('#rule').html()
      },
      function(data, status) {
        setTimeout(function() {
          $('#save-button').html('<i class="fa fa-floppy-o fa-fw"></i> &nbsp;Save')
        }, 1000);
      });
    })

