extends ../layout.normal

include ../mixins/tournament.jade

block content-inside
  for tournament in tournaments
    +tournament-preview(tournament)

block sidebar
  a.btn.btn-block.button-submit(href='tournaments/new')
    i.fa.fa-plus.fa-fw
    | &nbsp; New Tournament
