extends ../layout.normal

include ../mixins/tournament
include ../mixins/widget

block scripts
  script(src='/javascripts/tournament-drawer.min.js')

block content-header
  #popup-modal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      #popup-content.modal-content

  img.tournament-banner(src=tournament.banner)

block content-inside
  +tournament(tournament)

block sidebar
  if isLoggedIn
    if !currentUser.isOwnerOf(tournament)

      if(tournament.registration.pending.length != 0 )
        -var t = 0
        each pending in tournament.registration.pending
          - if (pending._id.equals(currentUser._id))
            - t = 1
        if(tournament.registration.participants.length == 0 )
          each participant in tournament.registration.participants
            - if (participant._id.equals(currentUser._id))
              - t = 2
        if(t == 0)
          a#register-button.btn.btn-block.button-submit
            i.fa.fa-edit.fa-fw
            | &nbsp; Register
        if(t == 1)
          h3 Watting to accept
  else
    a#register-without-login-button.btn.btn-block.button-submit
      .fa.fa-edit.fa-fw
      | &nbsp; Register

  if isLoggedIn && currentUser.isOwnerOf(tournament)
    a.btn.btn-block.button-submit(href=tournament.getEditPath())
      i.fa.fa-edit.fa-fw
      | &nbsp; Edit Tournament

  script.
    $('#register-button').click(function() {
      $('#register-button').html('<i class="fa fa-circle-o-notch fa-spin"></i>');
      $.post('#{tournament.getRegisterPath()}', {}, function(data, status) {})
        .fail(function() {
          alert("You must login in order to register");
        })
        .done(function() {
          location.reload();
        })
        .always(function() {
          setTimeout(function() {
            $('#register-button').html('<i class="fa fa-floppy-o fa-fw"></i> &nbsp;Register')
          }, 1000);
        });
    });

    $('#register-without-login-button').click(function() {
      alert('You must login in order to register to this tournament');
    })

  +tournament-info(tournament)

block sidebar-widget
  +matches-widget("Upcoming Matches", recent_matches)
  +players-widget("Top players", top_players)
