extends ../layout.normal

include ../mixins/tournament

block content-header
  img.tournament-banner(src=tournament.banner)

block content-inside
  +tournament(tournament)

p= drawer

block sidebar
  a.btn.btn-block.button-submit(href=tournament.getEditPath())
    i.fa.fa-edit.fa-fw
    | &nbsp; Edit Tournament
