include ../mixins/stage

| $('#popup-content').html(`
.modal-header
  button.close(type='button', data-dismiss='modal' aria-label='close')
    span(aria-hidden='true')
      | &times;
  h4.modal-title.text-center
    | New stage
.modal-body
  +stage-form({}, 'stages')
| `);
| $('#popup-modal').modal();
