extends ../layout.normal

include ../mixins/match.jade

block content-inside
  p Live
  +matches-list(live)
  p Upcoming
  +matches-list(upcoming)

block sidebar
  a.btn.btn-block.button-submit(href='/matches/new')
    i.fa.fa-plus.fa-fw
    | &nbsp; New Match
