extends ../layout.normal

include ../mixins/match.jade

block content-inside
  p
    strong Live
  +matches-list(live)
  p
    strong Upcoming
  +matches-list(upcomming)
  p
    strong Past
  +matches-list(past)

  nav
    ul.pager
      if prevPage != -1
        li.previous
          a(href='?page=' + prevPage) &larr; &nbsp; Newer
      else
        li.previous.disabled
          a(href='?#') &larr; &nbsp; Newer

      if nextPage != -1
        li.next
          a(href='?page=' + nextPage) Older &nbsp; &rarr;
      else
        li.next.disabled
          a(href='#') Older &nbsp; &rarr;