.article-preview {
  padding-right: 20px;
  margin-bottom: 50px;

  .article-thumbnail {
    width: 100%;
    height: 250px;
    border-radius: $border-radius-large;
    margin-bottom: 8px;
    background-size: 100%;
  }

  .article-title {
    font-size: $font-size-title;
    font-weight: bold;
    color: $font-color-emphasis;
  }

  .article-meta {
    font-size: $font-size-small;
    margin-bottom: 10px;
    color: $gray-lighter;
  }

  .article-content {
    font-size: $font-size-default;
    text-align: justify;
    margin-bottom: 15px;
    color: $font-color-default;
  }

  .article-footer {
    font-size: $font-size-default;
  }
}

.article {
  .article-title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .article-meta {
    margin-bottom: 35px;
  }
  .article-thumbnail {
    margin-bottom: 35px;
  }
  .article-content {
    font-size: 16px;
  }
}
