.article-preview {
  padding-right: 20px;
  margin-bottom: 50px;

  .article-thumbnail {
    height: 300px;
    width: 100%;
    margin-bottom: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 1s ease;

    &:hover {
      -webkit-filter: grayscale(80%);
      filter: grayscale(80%);
    }
  }

  .article-title {
    font-size: $font-size-title;
    font-weight: bold;
    color: $font-color-emphasis;
    cursor: pointer;
  }

  .article-meta {
    font-size: $font-size-small;
    margin-bottom: 12px;
    color: $gray-lighter;
  }

  .article-content {
    font-size: $font-size-default;
    text-align: justify;
    margin-bottom: 15px;
    color: $font-color-default;
  }

  .article-footer {
    font-size: $font-size-default;
  }
}

.article {
  @extend .article-preview;

  .article-thumbnail {
    width: 100%;
    height: 300px ;
    border-radius: $border-radius-large;
    margin-bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
  }

}

div.mce-fullscreen {
  z-index: 1050;
  top: 51px!important
}
