.article-preview {
  padding-right: 20px;
  margin-bottom: 50px;

  .article-thumbnail {
    height: 350px;
    width: 100%;
    margin-bottom: 10px;

    img {
      display: block;
      zoom: 4;
      margin: auto;

      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 100%;
    }
  }

  .article-title {
    font-size: $font-size-title;
    font-weight: bold;
    color: $font-color-emphasis;
  }

  .article-meta {
    font-size: $font-size-small;
    margin-bottom: 10px;
    color: $gray-lighter;
  }

  .article-content {
    font-size: $font-size-default;
    text-align: justify;
    margin-bottom: 15px;
    color: $font-color-default;
  }

  .article-footer {
    font-size: $font-size-default;
  }
}

.article {
  @extend .article-preview;

  .article-thumbnail {
    width: 100%;
    height: 250px;
    border-radius: $border-radius-large;
    margin-bottom: 8px;
  }

}
