.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}

.breadcrumbs-title {
  display: inline;
  font-size: 18px;
  float: left !important;
}

.breadcrumbs-details {
  font-size: 13px;
  display: inline;
  float: right !important;
}
