.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  color: $font-color-strong;
}

.breadcrumbs-left {
  margin-top: 4px;
  display: inline;
  font-size: $font-size-default;
  float: left !important;
}

.breadcrumbs-right {
  margin-top: 4px;
  font-size: $font-size-default;
  display: inline;
  float: right !important;
}

.gsc-control-cse-vi {
  margin: 0px !important;
  padding: 0px !important;
  visibility: hidden;
}