.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  color: $font-color-strong;
}

.breadcrumbs-title {
  display: inline;
  font-size: $font-size-title;
  float: left !important;
}

.breadcrumbs-details {
  margin-top: 4px;
  font-size: $font-size-default;
  display: inline;
  float: right !important;
}
