.btn {
  border-width: 0px;
}

.button-default {
  padding: 15px 30px 13px 30px;
  background-color: #fcfcfc;
  color: #666666;
  font-size: 13px;
  line-height: 15.6px;

  &:hover {
    background-color: #fff;
    color: #444;
  }
}

.button-submit {
  padding: 15px 30px 13px 30px;
  background-color: #098cc8;
  color: #fff;
  font-size: 13px;
  line-height: 15.6px;
  transition: background .5s ease-in;

  &:hover {
    background-color: #0fa3bf;
    color: #fff;
  }

  &:active {
    color: #fff;
  }
}
