.btn {
  border-width: 0px;

  &:focus {
    outline: none;
    color: white;
  }

  &:active {
    outline: none;
  }
}

.button-default {
  padding: 0px 30px 0px 30px;
  background-color: #fcfcfc;
  color: #666666;
  font-size: 13px;
  line-height: 15.6px;

  &:hover {
    background-color: #fff;
  }
}

.button-submit {
  padding: 0px 30px 0px 30px;
  background-color: #303030;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 49px;
  height: 49px;
  transition: background .5s ease-in;

  &:hover {
    background-color: cadetblue;
    color: #fff;
  }

  &:active {
    color: #fff;
  }
}

.input-group {
  float: inherit;

  .search-bar {
    width: 80px;
  }
}
