.lighter {
  background-color: $bg-color-default;
}

.light {
  background-color: $bg-color-alternative;
}

.dark {
  background-color: $bg-color-inverse-default;
  color: $font-color-inverse-default;

  strong {
    color: $font-color-inverse-strong;
  }
}

.darker {
  background-color: $bg-color-inverse-alternative;
  color: $font-color-inverse-strong;
}
