.lighter {
  background-color: #fff;
}

.light {
  background-color: #fcfcfc;
}

.dark {
  background-color: #333333;
  color: #919191;

  strong {
    color: #fff;
  }
}

.darker {
  background-color: #222222;
  color: #fff;
}
