.box {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.box-left {
  @extend .box;

  border-left: 1px solid #e1e1e1;
  margin-left: -1px;
}

.box-right {
  @extend .box;

  border-right: 1px solid #e1e1e1;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.form-group {
  label {
    font-size: $font-size-default;
  }
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

body {
  margin-top: 52px;
}

@media (min-width: 1200px) {
  .container {
    margin-left: 150px;
    margin-right: 130px;
    width: auto;
  }
}
