.box {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 13px;
  padding-right: 13px;
}

.box-left {
  @extend .box;

  border-left: 1px solid #e1e1e1;
  margin-left: -1px;
}

.box-right {
  @extend .box;

  border-right: 1px solid #e1e1e1;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.form-group {
  label {
    font-size: $font-size-default;
  }
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}

.modal-open {
  overflow-y: scroll;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

td, th {
  vertical-align: middle !important;
}

.heading-faq {
  &:before {

  }
}

body {
  margin-top: 52px;
  font-size: $font-size-default;
}

@media (min-width: 1200px) {
  .container {
    margin-left: 150px;
    margin-right: 130px;
    width: auto;
  }
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

footer {
  padding-top: 30px !important;
}
