.searchbar {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background: url("https://www.google.com/cse/static/en/google_custom_search_watermark.gif") 20% 50% no-repeat #fff;
  margin-right: 10px;

  &:focus {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 20px;

    background: #fff;
  }

  &:valid {
    background: #fff;
  }
}

.searchbutton {
  cursor: pointer;
}

.input-lg {
  font-size: 12px;
}
