.tournament-preview {
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 25px;

  .thumb {
    float: left;
    margin-right: 50px;
    display: block;
    vertical-align: baseline;
    height: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 1s ease;
    &:hover {
      width: 100%;
    }
  }

  .content {
    overflow: hidden;

    .title {
      margin: 0px 0px 10px 0px;
    }
  }
}

.tournament-banner {
  width: 100%;
  height: auto;
  max-height: 150px;
}

.tournament {
  .tournament-title {
    font-size: $font-size-title;
    margin-bottom: 20px;
  }
}