.avatar {
  width: 100px;
  height: 100px;
}

.avatar-small {
  width: 20px;
  height: 20px;
}

.profile {
  width: 100%;
  float: left;
  margin-bottom: 25px;

  .avatar {
    float: left;
    margin-right: 20px;
    display: block;
  }

  .details {
    .heading {
      font-weight: 600;
      font-size: $font-size-title;

      .left-pane {
        font-weight: 300;
        font-size: $font-size-default;
        float: right;
        height: 25px;
        line-height: 25px;
      }
    }
  }
}