//--------------------
// Global variables
//--------------------

$font-color-default: #666666;
$font-color-strong: #888888;
$font-color-emphasis: #444444;

$font-color-inverse-default: #999999;
$font-color-inverse-strong: #fff;
$font-color-inverse-emphasis: #fff;

$font-color-link: red;

$bg-color-default: #fff;
$bg-color-alternative: #fcfcfc;

$bg-color-inverse-default: #333333;
$bg-color-inverse-alternative: #222222;

$font-size-default: 13px;
$font-size-small: 11px;
$font-size-big: 14px;
$font-size-title: 18px;

//--------------------
// Bootstrap variables
//--------------------

// Colors
$gray-base: #000;
$gray-darker: lighten($gray-base, 30%);
$gray-dark: lighten($gray-base, 40%);
$gray: lighten($gray-base, 40%);
$gray-light: lighten($gray-base, 50%);
$gray-lighter: lighten($gray-base, 60.5%);

// Component
$padding-base-vertical: 13px;
$padding-base-horizontal: 13px;
$padding-large-vertical: 13px;
$padding-large-horizontal: 13px;
$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

// Forms
$input-bg: #fcfcfc;
$input-color: $gray-light;
$input-color-placeholder: $gray-lighter;

$input-border-radius-base: $border-radius-base;
$input-border-radius-large: $border-radius-large;
$input-border-radius-small: $border-radius-small;

$input-border-focus: #e1e1e1;
$legend-border-color: #e1e1e1;

// Navbar
$navbar-default-bg: #fff;
$navbar-default-color: $gray-lighter;

// Buttons
$btn-primary-bg: #4682b4;
$btn-info-bg: #228b22;
$btn-success-bg: #83a846;
$btn-warning-bg: #ffa500;
$btn-danger-bg: #c23f22;

$btn-default-color: #666;

$btn-border-radius-base: $border-radius-base;
$btn-border-radius-large: $border-radius-large;
$btn-border-radius-small: $border-radius-small;

// Modals
$modal-sm: 400px;
