.widget {
  margin-top: 30px;
  margin-bottom: 30px;

  &:first-child {
    margin-top: 0px;
  }

  .widget-title {
    text-transform: uppercase;
    color: $font-color-default;
    font-size: $font-size-big;
    font-weight: bold;
    margin-bottom: 13px;
    letter-spacing: 1px;
  }

  .widget-content {
    font-size: $font-size-small;

    ul, li {
      list-style: none;
      padding: 0;
      margin-bottom: 2px;
    }
  }
}
