.widget {
  margin-top: 30px;
  margin-bottom: 30px;

  .widget-title {
    text-transform: uppercase;
    color: $gray-dark;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    letter-spacing: 1px;
  }

  .widget-content {
    font-size: 12px;

    ul, li {
      list-style: none;
      padding: 0;
      margin-bottom: 2px;
    }
  }
}
