extends layout

block content
  .container.text-center
    img.img(src='http://s.quickmeme.com/img/a8/a8022006b463b5ed9be5a62f1bdbac43b4f3dbd5c6b3bb44707fe5f5e26635b0.jpg')
    h1
      p Oops!
      p
        small We can't seem to find the page you looking for.
    br
    p Here are some helpful links instead:
    p
      a(href='/') Home
    p
      a(href='/tournaments') Tournaments
    p
      a(href='/matches') Matches Archive
    br