extends layout

include ./mixins/widget.jade

block content
  if breadcrumbs
    +breadcrumbs(breadcrumbs)

  .container
    block content-header
    .row
      .col-md-9.no-padding
        .box-right
          block content-inside
      .col-md-3.no-padding
        .box-left
          block sidebar
          block sidebar-widget
            +matches-widget("Recent Matches", recent_matches)
            +players-widget("Top players", top_players)
