include mixins/misc.jade

doctype html
html
  head
    title= title
    script(src="/javascripts/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome.min.css')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/chartjs.min.js')
    script(src='/javascripts/utilities.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese')
    block scripts
  body
    include ./components/header.jade
    block pre-content
    block content
      if locals.breadcrumbs
        +breadcrumbs(locals.breadcrumbs)
      .container
        .box
          block content-inside
    include ./components/footer.jade
