doctype html
html
  head
    title= title
    script(src="/javascripts/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome.min.css')
    script(src="/javascripts/bootstrap.min.js")
    block scripts
  body
    include ./components/header.jade
    block pre-content
    block content
    include ./components/footer.jade
