doctype html
html
  head
    title= title
    script(src="/javascripts/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome.min.css')
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/chartjs.min.js")
    block scripts
  body
    include ./components/header.jade
    block pre-content
    block content
      .breadcrumbs.light
        .container
          .breadcrumbs-title Tournament
          .breadcrumbs-details Home / Tournament
      .container
        .box
          block content-inside
    include ./components/footer.jade
