extends layout

include ./mixins/widget.jade

block content
  .breadcrumbs.light
    .container
      .breadcrumbs-title Tournament
      .breadcrumbs-details Home / Tournament

  .container
    block content-header
    .row
      .col-md-9.no-padding
        .box-right
          block content-inside
      .col-md-3.no-padding
        .box-left
          block sidebar
          +recent-matches(locals.recent_matches)
          +top-players(locals.top_players)