doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    include ./components/header.jade
    block content
    include ./components/footer.jade
