extends layout

block content
  .breadcrumbs.light
    .container
      .breadcrumbs-title Tournament
      .breadcrumbs-details Home / Tournament

  .container
    .row
      .col-md-9.no-padding
        .box-right
          block content-inside
      .col-md-3.no-padding
        .box-left
          block sidebar
          .widget
            .widget-title
              i.fa.fa-bolt.fa-fw
              | &nbsp; Recent Matches
              span.pull-right
                a(href='/matches')
                  i.fa.fa-bars.fa-fw
            .widget-content
              table.table.table-hover
                tbody
                  tr
                    td.text-center A
                    td.text-center vs
                    td.text-center B
                  tr
                    td.text-center B
                    td.text-center vs
                    td.text-center C
                  tr
                    td.text-center C
                    td.text-center vs
                    td.text-center A
          .widget
            .widget-title
              i.fa.fa-users.fa-fw
              | &nbsp; Top Players
              span.pull-right
                a(href='/users/rank')
                  i.fa.fa-bars.fa-fw
            .widget-content
              table.table.table-hover
                tbody
                  tr
                    td.text-center ||||||||||
                  tr
                    td.text-center |||||||||
                  tr
                    td.text-center ||||||||
