extends layout

include ./mixins/widget.jade

block content
  if locals.breadcrumbs
    +breadcrumbs(locals.breadcrumbs)

  .container
    block content-header
    .row
      .col-md-9.no-padding
        .box-right
          block content-inside
      .col-md-3.no-padding
        .box-left
          block sidebar
          +recent-matches(locals.recent_matches)
          +top-players(locals.top_players)
